<section class="social-links" aria-label="Social Links">
    <div class="container">
        <ul class="social-links__list">
            <li>
                <a href="mailto:{{ metadata.author.email }}" class="social-link" aria-label="Email">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </li>
            <li>
                <a href="{{ metadata.social.github }}" class="social-link" aria-label="GitHub Profile">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a href="{{ metadata.social.linkedin }}" class="social-link" aria-label="LinkedIn Profile">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="{{ metadata.social.orcid }}" class="social-link" aria-label="ORCID Profile">
                    <i class="fa-brands fa-orcid"></i>
                </a>
            </li>
            <li>
                <a href="/rss/" class="social-link" aria-label="RSS Feeds">
                    <i class="fa-solid fa-square-rss"></i>
                </a>
            </li>
        </ul>
    </div>
</section> 